In [9]:
from nltk.corpus import wordnet

In [6]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from matplotlib import pyplot as plt
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
data = pd.read_excel('D:\\Un structured data\\Amazon.xlsx')

In [5]:

text = data[['reviews.text']]
text.head()

                                        reviews.text
0  I initially had trouble deciding between the p...
1  Allow me to preface this with a little history...
2  I am enjoying it so far. Great for reading. Ha...
3  I bought one of the first Paperwhites and have...
4  I have to say upfront - I don't like coroporat...

In [6]:
text['Count'] = text['reviews.text'].apply(lambda x:len(str(x).split(" ")))

text.head()

                                        reviews.text  Count
0  I initially had trouble deciding between the p...    193
1  Allow me to preface this with a little history...    272
2  I am enjoying it so far. Great for reading. Ha...     35
3  I bought one of the first Paperwhites and have...    310
4  I have to say upfront - I don't like coroporat...    352

In [7]:
text['reviews.text'][0]

"I initially had trouble deciding between the paperwhite and the voyage because reviews more or less said the same thing: the paperwhite is great, but if you have spending money, go for the voyage.Fortunately, I had friends who owned each, so I ended up buying the paperwhite on this basis: both models now have 300 ppi, so the 80 dollar jump turns out pricey the voyage's page press isn't always sensitive, and if you are fine with a specific setting, you don't need auto light adjustment).It's been a week and I am loving my paperwhite, no regrets! The touch screen is receptive and easy to use, and I keep the light at a specific setting regardless of the time of day. (In any case, it's not hard to change the setting either, as you'll only be changing the light level at a certain time of day, not every now and then while reading).Also glad that I went for the international shipping option with Amazon. Extra expense, but delivery was on time, with tracking, and I didnt need to worry about customs, which I may have if I used a third party shipping service."

In [8]:
text['clean_text'] = text['reviews.text'].str.lower().str.replace('[^a-z ]','')

text.head()

,reviews.text,Count,clean_text
0,I initially had trouble deciding between the p...,193,i initially had trouble deciding between the p...
1,Allow me to preface this with a little history...,272,allow me to preface this with a little history...
2,I am enjoying it so far. Great for reading. Ha...,35,i am enjoying it so far great for reading had ...
3,I bought one of the first Paperwhites and have...,310,i bought one of the first paperwhites and have...
4,I have to say upfront - I don't like coroporat...,352,i have to say upfront i dont like coroporate ...

In [9]:
stop = stopwords.words('english')
#stop.extend(['rt','pmo','amp','pmoindia'])#Adding these words to stop because I don't want these words in my text

In [10]:
def sw(x):
    x = [word for word in x.split() if word not in stop]
    return " ".join(x)
text['split_text'] = text['clean_text'].apply(sw)

In [11]:
text.head()

,reviews.text,Count,clean_text,split_text
0,I initially had trouble deciding between the p...,193,i initially had trouble deciding between the p...,initially trouble deciding paperwhite voyage r...
1,Allow me to preface this with a little history...,272,allow me to preface this with a little history...,allow preface little history casual reader own...
2,I am enjoying it so far. Great for reading. Ha...,35,i am enjoying it so far great for reading had ...,enjoying far great reading original fire since...
3,I bought one of the first Paperwhites and have...,310,i bought one of the first paperwhites and have...,bought one first paperwhites pleased constant ...
4,I have to say upfront - I don't like coroporat...,352,i have to say upfront i dont like coroporate ...,say upfront dont like coroporate hermetically ...

In [44]:
#Applying Stemmatization


def st(x):
    x = [stemmer.stem(word) for word in x.split() ]
    return " ".join(x)
text['stem_text'] = text['split_text'].apply(st)
text.head()

,reviews.text,Count,clean_text,split_text,stem_text
0,I initially had trouble deciding between the p...,193,i initially had trouble deciding between the p...,initially trouble deciding paperwhite voyage r...,initi troubl decid paperwhit voyag review less...
1,Allow me to preface this with a little history...,272,allow me to preface this with a little history...,allow preface little history casual reader own...,allow prefac littl histori casual reader own n...
2,I am enjoying it so far. Great for reading. Ha...,35,i am enjoying it so far great for reading had ...,enjoying far great reading original fire since...,enjoy far great read origin fire sinc fire use...
3,I bought one of the first Paperwhites and have...,310,i bought one of the first paperwhites and have...,bought one first paperwhites pleased constant ...,bought one first paperwhit pleas constant comp...
4,I have to say upfront - I don't like coroporat...,352,i have to say upfront i dont like coroporate ...,say upfront dont like coroporate hermetically ...,say upfront dont like coropor hermet close stu...

In [31]:
stemmer = SnowballStemmer('english')

print(stemmer.stem("cats"))
print(stemmer.stem("trouble"))
print(stemmer.stem("troubling"))
print(stemmer.stem("troubled"))

cat
troubl
troubl
troubl

In [10]:
lemmer = WordNetLemmatizer()

print(lemmer.lemmatize("running", pos='v'))

LookupError:
**********************************************************************
  Resource wordnet not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('wordnet')

  Attempted to load corpora/wordnet

  Searched in:
    - 'C:\\Users\\Administrator/nltk_data'
    - 'C:\\Users\\Administrator\\Anaconda3\\nltk_data'
    - 'C:\\Users\\Administrator\\Anaconda3\\share\\nltk_data'
    - 'C:\\Users\\Administrator\\Anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\Administrator\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [100]:
cv = CountVectorizer(ngram_range=(3,3)) #create countvectorizer
cv.fit(text['stem_text'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(3, 3), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [105]:
tf = TfidfVectorizer(ngram_range=(3,3)) #create countvectorizer
tf.fit(text['stem_text'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(3, 3), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [106]:
#Create a DTM

DTM = tf.fit_transform(text['split_text'])
DTM #unigram DTm

<1597x52235 sparse matrix of type '<class 'numpy.float64'>'
	with 130320 stored elements in Compressed Sparse Row format>

In [97]:
((1597*15)-1707 )/(1597*15)

0.9287413901064496

In [107]:
df = pd.DataFrame(DTM.toarray(),columns=cv.get_feature_names())

df.head()

,aa batteries duracell,aa batteries ive,abc live tv,abilities one thing,abilitieswhen amd created,ability check email,ability choose want,ability connect issues,ability control home,ability create personal,...,zero eye strain,zero look great,zerocons sd card,zink happy appmy,zip code address,zippy awesome display,zombiesi love came,zoom work great,zooming supported titlesthe,zumi blues clues
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
T = df.sum()
final_table = pd.DataFrame(T)
final_table = final_table.rename(columns={'index':'word',0:'freq'})
final_table.sort_values(by='freq',ascending=False).head(10)

                               freq
kindle fire hd            11.903682
theyre going fall          9.070348
like theyre going          9.070348
magnets tangle free        6.956963
would say theyre           6.080781
kindle fire hdx            5.208429
tangle free cord           5.146497
nice set headphones        5.047736
three biggest complaints   4.535174
ignorance would say        4.535174